services:
  kizo-api:
    image: haribhakt/kizo-api:1.0.0
    container_name: kizo-api
    ports:
      - "3000:3000"
    env_file:
      - .env
    restart: unless-stopped

  kizo-webhooks:
    image: haribhakt/kizo-webhooks:1.0.0
    container_name: kizo-webhooks
    ports:
      - "3001:3001"
    env_file:
      - .env
    restart: unless-stopped
