services:
  redis:
    image: redis:alpine
    container_name: kizo-redis
    ports:
      - "6379:6379"
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 3s
      retries: 5
    restart: unless-stopped

  loki:
    image: grafana/loki:latest
    container_name: kizo-loki
    ports:
      - "3100:3100"
    volumes:
      - ./loki-config.yaml:/etc/loki/config.yaml
    command: -config.file=/etc/loki/config.yaml
    deploy:
      resources:
        limits:
          memory: 256M 
    restart: unless-stopped

  grafana:
    image: grafana/grafana:latest
    container_name: kizo-grafana
    ports:
      - "3002:3000"
    environment:
      - GF_AUTH_ANONYMOUS_ENABLED=true
      - GF_AUTH_ANONYMOUS_ORG_ROLE=Admin
    deploy:
      resources:
        limits:
          memory: 256M
    restart: unless-stopped

  # kizo-api:
  #   image: kizo-api:local
  #   build:
  #     context: .
  #     args:
  #       PACKAGE_NAME: "@kizo/api"
  #       APP_DIR: kizo-api
  #       DIRECT_URL: ${DIRECT_URL}
  #   container_name: kizo-api
  #   ports:
  #     - "${BE_PORT}:${BE_PORT}"
  #   env_file:
  #     - .env
  #   depends_on:
  #     redis:
  #       condition: service_healthy
  #   restart: unless-stopped

  # kizo-webhooks:
  #   image: kizo-processor
  #   build:
  #     context: .
  #     args:
  #       PACKAGE_NAME: "@kizo/processor"
  #       APP_DIR: kizo-processor
  #       DIRECT_URL: ${DIRECT_URL}
  #   container_name: kizo-processor
  #   ports:
  #     - "${WEBHOOKS_PORT}:${WEBHOOKS_PORT}"
  #   env_file:
  #     - .env
  #   depends_on:
  #     redis:
  #       condition: service_healthy
  #   restart: unless-stopped