---
import { About } from "@kizo/ui/About";
---

<html>
  <head>
    <title>About Kizo</title>
    <meta name="description" content="About Kizo platform" />
  </head>
  <body>
    <About />
  </body>
</html>
